fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic 
pydantic 
pydantic-settings 
python-jose[cryptography] 
passlib[bcrypt] 
python-multipart 
authlib 
httpx 
hishel 
solders 
anchorpy
cloudinary 
python-dotenv 
geoalchemy2 
geopy
shapely
base58
google-auth